.top-20{
	margin-top: 20px;
}
.top-80{
	margin-top: 80px;
}
.top-160{
	margin-top: 140px;
}
.top-100{
	margin-top: 100px;	
}
.bottom-80{
	margin-bottom: 80px;
}
.bottom-20{
	margin-bottom: 20px;
}
.left-80{
	margin-left: 80px;
}
.left-20{
	margin-left: 20px;
}
.centered{
	left: 100px;
}
.myrounded{
	background: white;
	border-radius: 8px;
	/*width: 100%; */
	/*margin:10px 10px 15px 10px;*/
    border: 1px solid #ddd;
        box-shadow: 2px 0 7px 0 rgba(0,0,0,.1);
}
.mymargin{
	margin:10px 10px 15px 10px;
}
.myslide{
	background: white;
	border-radius: 8px;
	/*width: 100%; */
	margin:10px 10px 15px 10px;
}
.owl-carousel .owl-item img {
	/*width: 200px;*/
	border-radius: 5px;
}
.title-detail{
	font-size: 25px;
    font-weight: bold;
}
.star{
	color: #1e90ff;
	display: inline-block;
	margin-left: 2px;
}
.title{
	margin : 10px 30px 10px 30px;
}
.feature{
	margin : 10px 30px 40px 30px;
}
.img-feed{
	width: 280px;
	border-radius: 5px;
	margin: 10px;
}
.title-kamar{
	font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.body-detail > div > i {
	color : #0ea598;
	font-size: 30px;
}
.i-name{
	font-weight: bold;
	vertical-align: super;
}
.price {
	font-size: 20px;
	font-weight: bold;
}
.buy{
	margin-top: 70px;
}
@media only screen and (max-width: 600px){
	.img-feed{
		width: 200px;
		border-radius: 5px;
		margin: 10px;
	}
	.buy{
		margin-top: 0px;
		margin-bottom: 20px;
	}
}